.card {
  background-image: linear-gradient(rgb(38, 211, 16), rgba(0, 241, 0, 0.603));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  border-radius: 15px;
  margin: 2px;
  color: whitesmoke;
  font-size: large;
  font-weight: 520;
  width: 8.5em;
}
