.card{
    background-image: linear-gradient(rgb(2, 109, 209),rgba(2, 134, 241, 0.76));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    border-radius: 15px;
    margin: 2px;
    width: 13.6rem;
    color:whitesmoke;
    font-size: large;
    font-weight: 500;
}